<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Contact Form</title>
</head>
<body> 
    <div class="container">
        <br><br>
        <h1>Contact Form</h1>
        <hr>

        <!--<form method="POST" th:action="@{/book/savecontact}" th:object="${contact}">-->
            <form method="POST" th:action="@{/book/contact}" th:object="${contact}">

            <input type="hidden" name="id" data-th-value="*{id}">

            <div class ="mb-3"> 
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" th:field="*{name}">
            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

            <div class ="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" th:field="*{email}">
            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

            <div class ="mb-3">
                <label for="phoneNo" class="form-label">Phone No</label>
                <input type="text" class="form-control" name="phoneNo" th:field="*{phoneNo}">
            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}"></div>

            <div class ="mb-3">
                <label for="DoB" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" name="DoB" th:field="*{DoB}">
            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('DoB')}" th:errors="*{DoB}"></div>

            <!--<div th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err: ${fields.globalErrors()}" th:text="${err}"></p>
            </div>-->
            

            <button type="submit" class="btn btn-primary">Create</button>

        </form>

    </div>
    
</body>
</html>